{% extends 'base.html' %}
{% block content %}
<br>
<a href="/clothing/add" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
{% for clothing in object_list %}
<a href="/clothing/{{ clothing.id }}">
<div class="card">
    <div class="card-content">
    <span class="card-title">{{ clothing.name }}</span> <br>
    <p>{{ clothing.type }}</p>
    <br>
    <p>{{ clothing.color }} </p>
</div>
{% for photo in clothing.photo_set.all %}
      <img class="responsive-img card-panel" src="{{photo.url}}">
    {% empty %}
      <div class="card-panel teal-text center-align">No Photos Uploaded</div>
    {% endfor %}
</div>
</a>
{% endfor %}
{% endblock %}