{% extends 'base.html' %} {% block content %}
<br />

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ object.name }}</span> <br />
        <p>Type: {{ object.type }}</p>
        <br />
        <p>Color: {{ object.color }}</p>
      </div>
    </div>

    <div class="modify">
    <a href="{% url 'clothing_update' object.id %}" class="amber waves-effect waves-yellow btn-large">Update</a>
    <a href="{% url 'clothing_delete' object.id %}" class="red lighten-1 waves-effect waves-red btn-large">Delete</a>
  </div>

</div>
</div>
{% if object.color == 'Orange' %}
  Complimentary Colors: 
{% endif %}
</div>

    {% endblock %}
  </div>
</div>
