{% extends 'base.html' %}
{% block content %}

<h1>About ComplimentMyClothes</h1>
<hr />
<p>Compliment My Clothes (CMC) is here to help you with concerns and challenges when it comes to dressing. From colour coordination to specifically matching tops, bottoms, or outfits together, dressing consultations are on the rise. Use the app to help you with colour coordination and style suggestions. You can even use the built-in weather widget and clothing search to make sure that you're dressed for the weather. Enjoy yourself!</p>
<p>Made by Eric, Jasnoor and Hadi.</p>

{% endblock %}